In [1]:
# Import stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import json
import seaborn as sns
import re
import statistics

%matplotlib inline

* **IMPORTANT** There is a readme within the excel files
* Excel has multiple tabs. 'UPT' is the 'Unlinked Passenger Trips'
* 'Unlinked Passenger Trips' is defined as "..total boardings on an individual vehicle."

In [6]:
og_upt_df = pd.read_excel('../data/public transportation/public_transport_data.xlsx', sheet_name = 'UPT', nrows=2225)

C:\Users\tye64\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [8]:
og_year_upt_df = pd.read_excel('../data/public transportation/public_transport_data.xlsx', sheet_name = 'Calendar_Year_UPT', nrows=2225)

In [9]:
og_year_upt_df

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,UZA Name,Modes,TOS,2002,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
0,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",DR,PT,1616625,...,1119392,1103355,1012714,902626,870776,854155,883312,887915,455391,131615
1,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",DR,TX,0,...,76736,86383,96244,110018,110665,103861,143747,177791,86460,24327
2,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",FB,DO,0,...,0,0,0,0,601942,599954,664365,701608,146930,30834
3,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",LR,DO,357935,...,0,0,0,0,0,0,0,0,0,0
4,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",MB,DO,70032459,...,94652420,97702518,99570061,101362882,100924131,101129569,103435175,103527532,48865810,11668541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,99423,NaN,City of Glendale,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",MB,PT,0,...,0,0,0,930377,1738122,1637300,1431136,1414940,553889,123060
2221,99424,NaN,City of Pasadena,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,PT,0,...,0,0,0,0,0,38773,86218,90957,38717,6746
2222,99424,NaN,City of Pasadena,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",MB,PT,0,...,0,0,0,0,0,781755,1508413,1526844,957116,216266
2223,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,PT,0,...,0,0,0,50926,99135,91053,84088,84110,30628,3671
2224,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,TX,0,...,0,0,0,34526,62726,69445,68805,63067,37440,4374

In [11]:
og_year_upt_df[og_upt_df['UZA Name'].str.contains('Nashville')]

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,UZA Name,Modes,TOS,2002,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
684,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",CB,DO,0,...,0,0,201349,359813,333053,160949,0,0,0,0
685,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",DR,DO,116150,...,289627,283563,314960,300945,290374,312262,313041,299585,178398,56064
686,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",DR,PT,0,...,0,0,0,0,0,0,0,0,0,0
687,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",DR,TX,0,...,97241,112972,108428,132654,156006,146927,110655,94391,51154,15092
688,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",MB,DO,6590671,...,9449084,9432768,9330265,9215774,8929525,8971288,9372784,9118379,4901327,1300872
995,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",CB,PT,0,...,139413,185394,202722,201989,191593,196108,184942,178981,56991,8970
996,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",CR,PT,0,...,264874,243496,258023,273878,283174,299112,298765,293314,77245,11087
997,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",MB,PT,0,...,0,0,0,0,0,0,0,0,0,0
998,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",VP,DO,0,...,0,0,0,0,0,0,0,0,0,0
999,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",VP,PT,0,...,185159,173843,176851,153928,136367,125245,119671,75901,35894,4380
1014,40178,4178,The Transportation Management Association Group,Active,Full Reporter,44,"Nashville-Davidson, TN",VP,DO,0,...,74768,63851,73811,79625,95207,100426,117976,128461,92154,25047