In [1]:
# Import stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import json
import seaborn as sns
import re
import statistics
import sqldf

%matplotlib inline

* **IMPORTANT** There is a readme within the excel files
* Excel has multiple tabs. 'UPT' is the 'Unlinked Passenger Trips'
* 'Unlinked Passenger Trips' is defined as "..total boardings on an individual vehicle."

In [2]:
og_upt_df = pd.read_excel('../data/public transportation/public_transport_data.xlsx', sheet_name = 'UPT', nrows=2225)

C:\Users\tye64\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [3]:
og_year_upt_df = pd.read_excel('../data/public transportation/public_transport_data.xlsx', sheet_name = 'Calendar_Year_UPT', nrows=2225)

In [4]:
og_year_upt_df

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,UZA Name,Modes,TOS,2002,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
0,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",DR,PT,1616625,...,1119392,1103355,1012714,902626,870776,854155,883312,887915,455391,131615
1,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",DR,TX,0,...,76736,86383,96244,110018,110665,103861,143747,177791,86460,24327
2,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",FB,DO,0,...,0,0,0,0,601942,599954,664365,701608,146930,30834
3,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",LR,DO,357935,...,0,0,0,0,0,0,0,0,0,0
4,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",MB,DO,70032459,...,94652420,97702518,99570061,101362882,100924131,101129569,103435175,103527532,48865810,11668541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,99423,NaN,City of Glendale,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",MB,PT,0,...,0,0,0,930377,1738122,1637300,1431136,1414940,553889,123060
2221,99424,NaN,City of Pasadena,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,PT,0,...,0,0,0,0,0,38773,86218,90957,38717,6746
2222,99424,NaN,City of Pasadena,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",MB,PT,0,...,0,0,0,0,0,781755,1508413,1526844,957116,216266
2223,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,PT,0,...,0,0,0,50926,99135,91053,84088,84110,30628,3671
2224,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,TX,0,...,0,0,0,34526,62726,69445,68805,63067,37440,4374

In [5]:
nash_year_upt = og_year_upt_df[og_upt_df['UZA Name'].str.contains('Nashville')]
nash_year_upt

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,UZA Name,Modes,TOS,2002,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
684,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",CB,DO,0,...,0,0,201349,359813,333053,160949,0,0,0,0
685,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",DR,DO,116150,...,289627,283563,314960,300945,290374,312262,313041,299585,178398,56064
686,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",DR,PT,0,...,0,0,0,0,0,0,0,0,0,0
687,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",DR,TX,0,...,97241,112972,108428,132654,156006,146927,110655,94391,51154,15092
688,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",MB,DO,6590671,...,9449084,9432768,9330265,9215774,8929525,8971288,9372784,9118379,4901327,1300872
995,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",CB,PT,0,...,139413,185394,202722,201989,191593,196108,184942,178981,56991,8970
996,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",CR,PT,0,...,264874,243496,258023,273878,283174,299112,298765,293314,77245,11087
997,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",MB,PT,0,...,0,0,0,0,0,0,0,0,0,0
998,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",VP,DO,0,...,0,0,0,0,0,0,0,0,0,0
999,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,"Nashville-Davidson, TN",VP,PT,0,...,185159,173843,176851,153928,136367,125245,119671,75901,35894,4380
1014,40178,4178,The Transportation Management Association Group,Active,Full Reporter,44,"Nashville-Davidson, TN",VP,DO,0,...,74768,63851,73811,79625,95207,100426,117976,128461,92154,25047

In [6]:
# Going to define the modes and then join it to my other df
# https://www.transit.dot.gov/ntd/national-transit-database-ntd-glossary#O

modes = {'Mode': ['AG','AR','CB','CC','CR','DR','FB','HR','IP','LR','MB','MG','MO','OR','PB','RB','SR','TB','TR','VP','YR'],
            'Name': ['Automated Guideway','Alaska Railroad','commuter bus','cable car','commuter rail','demand response','Ferryboats','heavy rail','inclined plane','light rail','motor bus','Monorail/Automated guideway','monorail','Over the Road Bus','publico','Bus Rapid Transit','Streetcar','Trolleybus','Aerial Tramway','vanpool','Hybrid rail']}

mode_def = pd.DataFrame(modes, columns = ['Mode', 'Name'])

In [7]:
mode_def['Name'] = mode_def['Name'].str.lower()

In [8]:
mode_def

   Mode                         Name
0    AG           automated guideway
1    AR              alaska railroad
2    CB                 commuter bus
3    CC                    cable car
4    CR                commuter rail
5    DR              demand response
6    FB                   ferryboats
7    HR                   heavy rail
8    IP               inclined plane
9    LR                   light rail
10   MB                    motor bus
11   MG  monorail/automated guideway
12   MO                     monorail
13   OR            over the road bus
14   PB                      publico
15   RB            bus rapid transit
16   SR                    streetcar
17   TB                   trolleybus
18   TR               aerial tramway
19   VP                      vanpool
20   YR                  hybrid rail

In [9]:
# Joining it to my df and rearranging columns

upt_df = og_upt_df
upt_df = upt_df.merge(mode_def, how = 'left', left_on = 'Modes', right_on = 'Mode')
o = list(upt_df)
o = ['5 digit NTD ID',
 '4 digit NTD ID',
 'Agency',
 'Active',
 'Reporter Type',
 'UZA',
 'UZA Name',
 'Modes',
 'Name',
 'TOS',
 'JAN02',
 'FEB02',
 'MAR02',
 'APR02',
 'MAY02',
 'JUN02',
 'JUL02',
 'AUG02',
 'SEP02',
 'OCT02',
 'NOV02',
 'DEC02',
 'JAN03',
 'FEB03',
 'MAR03',
 'APR03',
 'MAY03',
 'JUN03',
 'JUL03',
 'AUG03',
 'SEP03',
 'OCT03',
 'NOV03',
 'DEC03',
 'JAN04',
 'FEB04',
 'MAR04',
 'APR04',
 'MAY04',
 'JUN04',
 'JUL04',
 'AUG04',
 'SEP04',
 'OCT04',
 'NOV04',
 'DEC04',
 'JAN05',
 'FEB05',
 'MAR05',
 'APR05',
 'MAY05',
 'JUN05',
 'JUL05',
 'AUG05',
 'SEP05',
 'OCT05',
 'NOV05',
 'DEC05',
 'JAN06',
 'FEB06',
 'MAR06',
 'APR06',
 'MAY06',
 'JUN06',
 'JUL06',
 'AUG06',
 'SEP06',
 'OCT06',
 'NOV06',
 'DEC06',
 'JAN07',
 'FEB07',
 'MAR07',
 'APR07',
 'MAY07',
 'JUN07',
 'JUL07',
 'AUG07',
 'SEP07',
 'OCT07',
 'NOV07',
 'DEC07',
 'JAN08',
 'FEB08',
 'MAR08',
 'APR08',
 'MAY08',
 'JUN08',
 'JUL08',
 'AUG08',
 'SEP08',
 'OCT08',
 'NOV08',
 'DEC08',
 'JAN09',
 'FEB09',
 'MAR09',
 'APR09',
 'MAY09',
 'JUN09',
 'JUL09',
 'AUG09',
 'SEP09',
 'OCT09',
 'NOV09',
 'DEC09',
 'JAN10',
 'FEB10',
 'MAR10',
 'APR10',
 'MAY10',
 'JUN10',
 'JUL10',
 'AUG10',
 'SEP10',
 'OCT10',
 'NOV10',
 'DEC10',
 'JAN11',
 'FEB11',
 'MAR11',
 'APR11',
 'MAY11',
 'JUN11',
 'JUL11',
 'AUG11',
 'SEP11',
 'OCT11',
 'NOV11',
 'DEC11',
 'JAN12',
 'FEB12',
 'MAR12',
 'APR12',
 'MAY12',
 'JUN12',
 'JUL12',
 'AUG12',
 'SEP12',
 'OCT12',
 'NOV12',
 'DEC12',
 'JAN13',
 'FEB13',
 'MAR13',
 'APR13',
 'MAY13',
 'JUN13',
 'JUL13',
 'AUG13',
 'SEP13',
 'OCT13',
 'NOV13',
 'DEC13',
 'JAN14',
 'FEB14',
 'MAR14',
 'APR14',
 'MAY14',
 'JUN14',
 'JUL14',
 'AUG14',
 'SEP14',
 'OCT14',
 'NOV14',
 'DEC14',
 'JAN15',
 'FEB15',
 'MAR15',
 'APR15',
 'MAY15',
 'JUN15',
 'JUL15',
 'AUG15',
 'SEP15',
 'OCT15',
 'NOV15',
 'DEC15',
 'JAN16',
 'FEB16',
 'MAR16',
 'APR16',
 'MAY16',
 'JUN16',
 'JUL16',
 'AUG16',
 'SEP16',
 'OCT16',
 'NOV16',
 'DEC16',
 'JAN17',
 'FEB17',
 'MAR17',
 'APR17',
 'MAY17',
 'JUN17',
 'JUL17',
 'AUG17',
 'SEP17',
 'OCT17',
 'NOV17',
 'DEC17',
 'JAN18',
 'FEB18',
 'MAR18',
 'APR18',
 'MAY18',
 'JUN18',
 'JUL18',
 'AUG18',
 'SEP18',
 'OCT18',
 'NOV18',
 'DEC18',
 'JAN19',
 'FEB19',
 'MAR19',
 'APR19',
 'MAY19',
 'JUN19',
 'JUL19',
 'AUG19',
 'SEP19',
 'OCT19',
 'NOV19',
 'DEC19',
 'JAN20',
 'FEB20',
 'MAR20',
 'APR20',
 'MAY20',
 'JUN20',
 'JUL20',
 'AUG20',
 'SEP20',
 'OCT20',
 'NOV20',
 'DEC20',
 'JAN21',
 'FEB21',
 'MAR21',
 'APR21',
 'Mode']
upt_df = upt_df[o]

In [10]:
# I will likely not use this one. I will probably use the 'year' version.

upt_df = upt_df.drop(columns=['Mode'])
upt_df

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,UZA Name,Modes,Name,TOS,...,JUL20,AUG20,SEP20,OCT20,NOV20,DEC20,JAN21,FEB21,MAR21,APR21
0,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",DR,demand response,PT,...,36591.0,33059.0,34071.0,36070.0,31020.0,31977.0,31199.0,28890.0,35712.0,35814.0
1,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",DR,demand response,TX,...,6416.0,5880.0,6650.0,6139.0,5929.0,4666.0,4177.0,4991.0,7078.0,8081.0
2,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",FB,ferryboats,DO,...,9643.0,10630.0,9801.0,8788.0,5586.0,6087.0,5355.0,5253.0,8573.0,11653.0
3,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",LR,light rail,DO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",MB,motor bus,DO,...,3339926.0,3393742.0,3328392.0,3118656.0,2745130.0,2767733.0,2779426.0,2517179.0,3156235.0,3215701.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,99423,NaN,City of Glendale,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",MB,motor bus,PT,...,31203.0,31000.0,31100.0,29827.0,41897.0,30162.0,28863.0,28633.0,33085.0,32479.0
2221,99424,NaN,City of Pasadena,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,demand response,PT,...,2318.0,2449.0,2540.0,2833.0,2565.0,2200.0,2145.0,2022.0,2579.0,NaN
2222,99424,NaN,City of Pasadena,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",MB,motor bus,PT,...,67516.0,70993.0,71730.0,80812.0,73765.0,71309.0,66805.0,69252.0,80209.0,NaN
2223,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,demand response,PT,...,1715.0,1393.0,1671.0,1646.0,2092.0,1747.0,1794.0,1877.0,NaN,NaN
2224,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,demand response,TX,...,2363.0,2385.0,2673.0,3076.0,2210.0,2265.0,2129.0,2245.0,NaN,NaN

In [11]:
year_upt_df = og_year_upt_df
year_upt_df = year_upt_df.merge(mode_def, how = 'left', left_on = 'Modes', right_on = 'Mode')
p = list(year_upt_df)
p = ['5 digit NTD ID',
 '4 digit NTD ID',
 'Agency',
 'Active',
 'Reporter Type',
 'UZA',
 'UZA Name',
 'Modes',
 'Name',
 'TOS',
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 '2021 Through April',
 'Mode']
year_upt_df = year_upt_df[p]
year_upt_df = year_upt_df.drop(columns=['Mode'])
year_upt_df = year_upt_df[year_upt_df['Active']=='Active']

In [12]:
year_upt_df

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,UZA Name,Modes,Name,TOS,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
0,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",DR,demand response,PT,...,1119392,1103355,1012714,902626,870776,854155,883312,887915,455391,131615
1,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",DR,demand response,TX,...,76736,86383,96244,110018,110665,103861,143747,177791,86460,24327
2,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",FB,ferryboats,DO,...,0,0,0,0,601942,599954,664365,701608,146930,30834
3,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",LR,light rail,DO,...,0,0,0,0,0,0,0,0,0,0
4,1,1,King County Department of Metro Transit,Active,Full Reporter,14,"Seattle, WA",MB,motor bus,DO,...,94652420,97702518,99570061,101362882,100924131,101129569,103435175,103527532,48865810,11668541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,99423,NaN,City of Glendale,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",MB,motor bus,PT,...,0,0,0,930377,1738122,1637300,1431136,1414940,553889,123060
2221,99424,NaN,City of Pasadena,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,demand response,PT,...,0,0,0,0,0,38773,86218,90957,38717,6746
2222,99424,NaN,City of Pasadena,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",MB,motor bus,PT,...,0,0,0,0,0,781755,1508413,1526844,957116,216266
2223,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,demand response,PT,...,0,0,0,50926,99135,91053,84088,84110,30628,3671
2224,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,"Los Angeles-Long Beach-Anaheim, CA",DR,demand response,TX,...,0,0,0,34526,62726,69445,68805,63067,37440,4374

In [13]:
year_upt_df = year_upt_df.rename(columns={"UZA Name": "City"})

In [14]:
# I want to split the city and state

year_upt_df[['City','State']] = year_upt_df['City'].str.split(',',expand=True)

In [15]:
year_upt_df = year_upt_df[['5 digit NTD ID',
 '4 digit NTD ID',
 'Agency',
 'Active',
 'Reporter Type',
 'UZA',
 'City',
 'State',
 'Modes',
 'Name',
 'TOS',
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 '2021 Through April']]
year_upt_df

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,City,State,Modes,Name,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
0,1,1,King County Department of Metro Transit,Active,Full Reporter,14,Seattle,WA,DR,demand response,...,1119392,1103355,1012714,902626,870776,854155,883312,887915,455391,131615
1,1,1,King County Department of Metro Transit,Active,Full Reporter,14,Seattle,WA,DR,demand response,...,76736,86383,96244,110018,110665,103861,143747,177791,86460,24327
2,1,1,King County Department of Metro Transit,Active,Full Reporter,14,Seattle,WA,FB,ferryboats,...,0,0,0,0,601942,599954,664365,701608,146930,30834
3,1,1,King County Department of Metro Transit,Active,Full Reporter,14,Seattle,WA,LR,light rail,...,0,0,0,0,0,0,0,0,0,0
4,1,1,King County Department of Metro Transit,Active,Full Reporter,14,Seattle,WA,MB,motor bus,...,94652420,97702518,99570061,101362882,100924131,101129569,103435175,103527532,48865810,11668541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,99423,NaN,City of Glendale,Active,Full Reporter,2,Los Angeles-Long Beach-Anaheim,CA,MB,motor bus,...,0,0,0,930377,1738122,1637300,1431136,1414940,553889,123060
2221,99424,NaN,City of Pasadena,Active,Full Reporter,2,Los Angeles-Long Beach-Anaheim,CA,DR,demand response,...,0,0,0,0,0,38773,86218,90957,38717,6746
2222,99424,NaN,City of Pasadena,Active,Full Reporter,2,Los Angeles-Long Beach-Anaheim,CA,MB,motor bus,...,0,0,0,0,0,781755,1508413,1526844,957116,216266
2223,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,Los Angeles-Long Beach-Anaheim,CA,DR,demand response,...,0,0,0,50926,99135,91053,84088,84110,30628,3671
2224,99425,NaN,Pomona Valley Transportation Authority,Active,Full Reporter,2,Los Angeles-Long Beach-Anaheim,CA,DR,demand response,...,0,0,0,34526,62726,69445,68805,63067,37440,4374

In [16]:
# Lets take a look at Nashville's 
nash_transport = year_upt_df.loc[year_upt_df['City'].str.contains("Nashville")]
nash_transport

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,City,State,Modes,Name,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
684,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,Nashville-Davidson,TN,CB,commuter bus,...,0,0,201349,359813,333053,160949,0,0,0,0
685,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,Nashville-Davidson,TN,DR,demand response,...,289627,283563,314960,300945,290374,312262,313041,299585,178398,56064
686,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,Nashville-Davidson,TN,DR,demand response,...,0,0,0,0,0,0,0,0,0,0
687,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,Nashville-Davidson,TN,DR,demand response,...,97241,112972,108428,132654,156006,146927,110655,94391,51154,15092
688,40004,4004,Metropolitan Transit Authority,Active,Full Reporter,44,Nashville-Davidson,TN,MB,motor bus,...,9449084,9432768,9330265,9215774,8929525,8971288,9372784,9118379,4901327,1300872
995,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,Nashville-Davidson,TN,CB,commuter bus,...,139413,185394,202722,201989,191593,196108,184942,178981,56991,8970
996,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,Nashville-Davidson,TN,CR,commuter rail,...,264874,243496,258023,273878,283174,299112,298765,293314,77245,11087
997,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,Nashville-Davidson,TN,MB,motor bus,...,0,0,0,0,0,0,0,0,0,0
998,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,Nashville-Davidson,TN,VP,vanpool,...,0,0,0,0,0,0,0,0,0,0
999,40159,4159,Regional Transportation Authority,Active,Full Reporter,44,Nashville-Davidson,TN,VP,vanpool,...,185159,173843,176851,153928,136367,125245,119671,75901,35894,4380
1014,40178,4178,The Transportation Management Association Group,Active,Full Reporter,44,Nashville-Davidson,TN,VP,vanpool,...,74768,63851,73811,79625,95207,100426,117976,128461,92154,25047

In [17]:
# Going to import some CSVs from the Census worksheet. 

similar_cities = pd.read_csv('../data/census/similar_size_cities.csv')
nash_2030 = pd.read_csv('../data/census/nash_2030.csv')
nash_2040 = pd.read_csv('../data/census/nash_2040.csv')
nash_2050 = pd.read_csv('../data/census/nash_2050.csv')

In [18]:
similar_cities

             CITY          STATE  POPESTIMATE2020
0         Boston   Massachusetts           691531
1        Detroit        Michigan           665369
2      Las Vegas          Nevada           662368
3  Oklahoma City        Oklahoma           662314
4       Portland          Oregon           656751
5        Memphis       Tennessee           649705
6       Nashville      Tennessee           671295
7        El Paso           Texas           681534

In [19]:
nash_2030

          CITY                 STATE  POPESTIMATE2020
0      Denver               Colorado           735538
1  Washington   District of Columbia           712816
2     Seattle             Washington           769714

In [20]:
nash_2040

             CITY       STATE  POPESTIMATE2020
0  San Francisco   California           866606

In [21]:
nash_2050

                      CITY           STATE  POPESTIMATE2020
0            Jacksonville          Florida           920570
1  Indianapolis  (balance)         Indiana           877903
2               Charlotte   North Carolina           900350
3                Columbus             Ohio           903852
4              Fort Worth            Texas           927720

* I want to filter my public transportation DF to only include cities from the 4 census DFs
* Not sure how to do this

In [22]:
Boston = year_upt_df.loc[year_upt_df['City'].str.contains("Boston")]
Detroit = year_upt_df.loc[year_upt_df['City'].str.contains("Detroit")]
Las_Vegas = year_upt_df.loc[year_upt_df['City'].str.contains("Las Vegas")]
Oklahoma_City = year_upt_df.loc[year_upt_df['City'].str.contains("Oklahoma City")]
Portland = year_upt_df.loc[year_upt_df['City'].str.contains("Portland")]
Memphis = year_upt_df.loc[year_upt_df['City'].str.contains("Memphis")]
El_Paso = year_upt_df.loc[year_upt_df['City'].str.contains("El Paso")]

In [44]:
Memphis

,5 digit NTD ID,4 digit NTD ID,Agency,Active,Reporter Type,UZA,City,State,Modes,Name,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
679,40003,4003,City of Memphis,Active,Full Reporter,41,Memphis,TN-MS-AR,DR,demand response,...,251177,245441,244195,218176,197419,195700,193491,189365,120369,36163
680,40003,4003,City of Memphis,Active,Full Reporter,41,Memphis,TN-MS-AR,DR,demand response,...,0,0,0,0,0,0,0,0,0,0
681,40003,4003,City of Memphis,Active,Full Reporter,41,Memphis,TN-MS-AR,LR,light rail,...,0,0,0,0,0,0,0,0,0,0
682,40003,4003,City of Memphis,Active,Full Reporter,41,Memphis,TN-MS-AR,MB,motor bus,...,8523158,8565712,7894629,7731796,7263163,6683823,6051607,5662651,3203595,846310
683,40003,4003,City of Memphis,Active,Full Reporter,41,Memphis,TN-MS-AR,SR,streetcar,...,1492954,1366026,485131,0,0,0,302076,366666,101044,52639
1051,40247,NaN,Shelby County Government,Active,Full Reporter,41,Memphis,TN-MS-AR,VP,vanpool,...,0,0,0,0,0,0,32897,34148,0,0

In [42]:
Memphis.groupby('Name')[[2002,
                         2003,
                         2004,
                         2005,
                         2006,
                         2007,
                         2008,
                         2009,
                         2010,
                         2011,
                         2012,
                         2013,
                         2014,
                         2015,
                         2016,
                         2017,
                         2018,
                         2019,
                         2020,
                         '2021 Through April']].sum()

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021 Through April
Name,,,,,,,,,,,,,,,,,,,,
demand response,246800,235004,247114,243745,251522,253983,254555,235378,242094,244793,251177,245441,244195,218176,197419,195700,193491,189365,120369,36163
light rail,964900,705931,1159324,915268,969967,1079321,1060410,1158904,1092605,1157427,0,0,0,0,0,0,0,0,0,0
motor bus,10965200,11110160,11448970,10396138,10426048,10393161,10414631,10202003,9894125,8625369,8523158,8565712,7894629,7731796,7263163,6683823,6051607,5662651,3203595,846310
streetcar,0,0,0,0,0,0,0,0,0,0,1492954,1366026,485131,0,0,0,302076,366666,101044,52639
vanpool,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32897,34148,0,0

In [ ]:
pd.concat([Boston, Detroit,Las_Vegas,Oklahoma_City,Portland,Memphis,El_Paso,nash_transport])